@media only screen and (max-width: 800px) {
  .data-privacy {
    font-size: calc(1.3rem + 0.6vw) !important;
  }
}

.data-privacy {
  border-bottom: 1px solid #0d6a07;
  color: #0d6a07 !important;
}
